<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr>

<p class="animated fadeIn">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, nostrum voluptates est maxime eos neque voluptas, in mollitia quis hic, consequuntur labore repellat libero corrupti esse dolorum harum ad consequatur?,Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo corrupti perspiciatis voluptas dicta blanditiis magnam veniam neque nemo aperiam, fugit officiis perferendis error nesciunt qui dolorum! Ullam alias atque harum!</p>